{
    "ForceGlobalDebugLevel": -1,
	"ForceGlobalLog": false,
	
    "BuffMasterTactician": {
        "OverrideDebugLevel": 2
    },
	"CommanderPortraitLoader": {
        "OverrideDebugLevel": 2
    },
	"DemandingJumps": {
        "OverrideDebugLevel": 2
    },
	"DontShootTheDead": {
        "OverrideDebugLevel": 2
    },
	"DropCosts": {
        "OverrideDebugLevel": 2
    },
	"DynamicCompanyMorale": {
        "OverrideDebugLevel": 2
    },
	"EvenTheOdds": {
        "OverrideDebugLevel": 2
    },
	"FellOfACargoShip": {
        "OverrideDebugLevel": 2
    },
	"HeadshotWeaponLimit": {
        "OverrideDebugLevel": 2
    },
	"LittleThings": {
        "OverrideDebugLevel": 3
    },
	"MadLabs": {
        "OverrideDebugLevel": 2
    },
	"MeleeMover": {
        "OverrideDebugLevel": 2
    },
	"MightyChargingJuggernaut": {
        "OverrideDebugLevel": 2
    },
	"RandomCampaignStart": {
        "OverrideDebugLevel": 2
    },
    "SimpleEjectionSystem": {
        "OverrideDebugLevel": 2
    },
	"SkipIntro": {
        "OverrideDebugLevel": 2
    },
	"SoftExperienceCap": {
        "OverrideDebugLevel": 2
    },
    "SustainableEvasion": {
        "OverrideDebugLevel": 2
    },
	"WorthwhileKnockdowns": {
	    "OverrideDebugLevel": 2
	}
}